XML-Scripts/programseries.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation xml:lang="en">
			Test of XML documents
		</xs:documentation>
	</xs:annotation>


	<xs:element name="ArrayOfProgramSerie">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProgramSerie" maxOccurs="unbounded" type="ProgramSerieType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<!-- definition of complex elements -->
	<xs:complexType name="ProgramSerieType">
	 <xs:sequence>
	 	<xs:element name="Slug" 			type="xs:string" />
	 	<xs:element name="Title" 			type="xs:string" />
	 	<xs:element name="Description" 		type="xs:string" />
	 	<xs:element name="ShortName" 		type="xs:string" minOccurs="0" maxOccurs="1" />
	 	<xs:element name="NewestVideoId"	type="xs:nonNegativeInteger" />
	 	<xs:element name="NewestVideoPublishTime" type="xs:dateTime" />
	 	<xs:element name="VideoCount"		type="xs:nonNegativeInteger" />
	 	<xs:element name="Labels"			type="LabelsType" />
	 	<xs:element name="WebCmsImagePath" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
	 </xs:sequence>
	</xs:complexType>


	<xs:complexType name="LabelsType">
	 <xs:sequence>		
		<xs:element name="string"	type="xs:string" minOccurs="0" maxOccurs="unbounded" />
	 </xs:sequence>	
	</xs:complexType>	

</xs:schema>
